@charset "utf-8";

	    *{ 
		margin:0;
		padding:0; 
		box-sizing: border-box;}
	.zzz{
		border:3px solid red;
		}

		li { 
			list-style:none; }
	
		img, select { 
			vertical-align:middle; }
		a {  
			color:#000; text-decoration:none; }
		address {
			font-style:normal; }
		body{
			 background:url("../images/background/bg_a3.jpg")no-repeat; background-size:cover; }	
		

		.fz-12{
			font-size:12px;
		}
		.wrapper{
			width:980px; 
			margin:0 auto;   
			position:relative;  
		}
		.header { 
			background-color:white;
			position:absolute; 
			width:980px; 
			height:50px; 
		}
		
		.header>.header__logo{
			position:absolute; 
			left:400px; 
		}
		.header__list{  
			
			clear:both; 
			float:right; 
			margin:5px 8px; 
			top:0; 
			right:0;}
		.header__list>li{ 
			float:left; 
			width:124p;   
			text-align:center; 
			padding:5px; 
			font-weight:bold;  
		}
		
		.header__list>li:nth-child(3){ 
			margin-left:40px;
			border-radius:15px;
			border:3px solid green; 
			color:green; 
		}
		
		.header__list>li:nth-child(1) a:hover{border-bottom:2px solid #818181;}
		.header__list>li:nth-child(2) a:hover{border-bottom:2px solid #818181;}
		.content_01>img{
			width:980px; 
			height:460px; 
		}
		
		/*slider*/
		.content_02 {
			overflow:hidden;
		}
		.content_02>.js_slider { 
			width:1960px; 
			height:247px;  
			position:relative; 
			overflow:hidden; 
		}
		.content_02>.js_slider li {
			
			position:absolute; 
			list-style:none;
			left:0; 
		}
		.content_02>.js_slider li img{ 
			width:980px; 
			height:247px; 
		}	
		/*contents*/
		.bg-f9f8f6 { background-color:#f9f8f6;}
		.content_03 {
			background:url("../images/main1.jpg") no-repeat; 
			position:relative; 
			clear:both;  
			width:980px;
			height:475px;
		}

		.content_03 li{ position:absolute; float:left; width:100; height:70px; }
		.site1{  left:260px; top:120px; width:400px; height:220px;}
		.site2{  left:665px; top:120px; }
		.site3{  left:665px; top:195px; }
		.site4{  left:665px; top:270px; }
		
		
		.content_04 {  
			clear:both; 
			width:980px; 
			height:540px;
		}
		
		.content_04>.title{
			font-size:24px;
			margin-top:40px;
			text-align:center;
			line-height:1.5;
		}
		.content_04>.subtitle{
			margin-top:20px; 
			margin-bottom:20px;
			font-size:30px;
			text-align:center;
			line-height:1.5;
		}
		
		.content_04 .content_04__box {
			 position:relative; 
			 background-color:#5a5a5a;
			 left:160px; 
			 width:700px; 
			 height:320px; 
			 Color:#fff;
			 border-radius:14px; 
			 overflow:hidden; 
			 
		}
		
	
		.content_04__box .box-left {
			text-align:left;
			float:left; 
			font-family:돋음;
		 	width:216px;
			height:320px;
			padding:0 5px;
		 }
		.content_04__box .box-left>.box__title{
			padding:20px;
			margin:20px 0; 
			font-size:22px;
		}
		.content_04__box .box-left>.box__desc{ 
			font-size:18px; 
			margin:50px 5px 20px;
		}
		
		.slider02 { 
			position: relative;
			height:320px;
			width:480px;
			float:right;
		}
		.slider02 .slide02{ 
			width:480px; 
			height:320px;}
		.slide02 li {
			position:absolute; 
			right:0; 
			top:0;
		}
		
		.content_05{
			background-color:#f5d5d5;
			position:relative; 
			display:flex;
			justify-content: space-between;
			align-items: center;
			padding:0px 90px ;
			width:980px; 
			height:330px; 
			
		}
		.content_05 .subtitle{
			font-size:20px; 
			font-weight:bold; 
			font-family:굴림;
			line-height:1.5;
		}
		.content_05 .box_title{
			display:flex;
			justify-content: space-between;
			align-items: center;
			padding:3px 10px;
		}
		.content_05 .box_slide { 
			position:relative; 
			overflow:hidden;
			width:385px; 
			height:200px;  
		}
		.box_slide .img_wrap{ position:absolute; left:0; top:0; width:1540px; }
		.box_slide .img_wrap li{float:left; }
		
		/*<!--footer--> */
		.footer{
			position:relative;  
		}
		.footer .footer__content{
			width:100%;
			height:auto;
		}
		.footer__content .img-navigation{
			width:100%;
			height:100%;
		}
		.footer .footer__mark{
			position:absolute; 
			top:170px; 
			left:588px; 
		}
		.footer .footer__mark img{
			width:100%;
			height:100%;
		}

		.footer:hover .footer__mark{
			  transform: scale(1.5);
			  top:180px; 
			  left:573px;  
			  transition-duration:1s;
		}
		
		
		/*<!--aside--> */
		.aside{ 
			border:4px solid white;
			background-color:#dfcd2d;
			position:fixed; 
			width:80px; 
			height:702px;
			top:80px;  
			right:0px;
			border-radius:2px;
		}
		.aside .aside__item{
			background-size:cover;
			width:66px;
			height:80px;
			margin:0 auto 10px;
		}
		.aside .aside__icon{
			width:40px;
			height:40px;
			margin:10px auto;
			background-size:cover;
		}
		
		.aside__item:hover .info{
			color:#000;
		}
		.aside  .aside__icon_01{
			background:url("../images/icon/icon_sns_online_white.png") no-repeat;
			background-size:cover;
		}
		.aside  .aside__icon_02{
			background:url("../images/icon/icon_sns_kakao_white.png") no-repeat;
			background-size:cover;
		}
		.aside  .aside__icon_03{
			background:url("../images/icon/icon_pay_white.png") no-repeat;
			background-size:cover;
		}
		.aside  .aside__icon_04{
			background:url("../images/icon/icon_nav_white.png") no-repeat;
			background-size:cover;
		}
		.aside  .aside__icon_05{
			background:url("../images/icon/icon_sns_online_white.png") no-repeat;
			background-size:cover;
		}

		.aside__item:hover .aside__icon_01{
			background:url("../images/icon/icon_sns_online_black.png") no-repeat;
			background-size:cover;
		}
		.aside__item:hover .aside__icon_02{
			background:url("../images/icon/icon_sns_kakao_black.png") no-repeat;
			background-size:cover;
		}
		.aside__item:hover .aside__icon_03{
			background:url("../images/icon/icon_pay_black.png") no-repeat;
			background-size:cover;
		}
		.aside__item:hover .aside__icon_04{
			background:url("../images/icon/icon_nav_black.png") no-repeat;
			background-size:cover;
		}
		.aside__item:hover .aside__icon_05{
			background:url("../images/icon/icon_sns_online_black.png") no-repeat;
			background-size:cover;
		}
		
		.aside .info{
			text-align:center;
			font-size:11px;
			color:#fff;
		}
		.aside__time-info{
			font-size:11px;
			text-align:center;
		}
		.nav-gnb__list {   
			background-color:#27cc57; 
			position:fixed;
			font-weight:bold;
			width:200px; 
			height:800px;  
			top:100px; 
			left:260px;  
			 }
		/*반응형기능*/
		
		.nav-gnb__list .nav-gnb__item {
			position:relative;
			font-size:18px 
		}
		.nav-gnb__list a{ 
			border-bottom:1px solid #2C2C2C;
			color:#c0ffd2;
			margin:5px; 
			padding:5px 0; 
			display:block; 
			}
		.nav-gnb__list .nav-gnb__item a:hover{
			border-bottom:1px solid #fff;
			color:#fff; 
		}
		.nav-gnb__list a:hover{
			color:#fff; 
		}
		.nav-gnb .sub-list{
			position:absolute; 
			background-color:#f9e750; 
			width:200px; 
			height:700px;
			left:190px; 
			top:0px; 
			display:none; 
		}
		.nav-gnb__list .nav-gnb__item .sub-list li:hover{
			color:#fff; 
		}
		.nav-gnb__list .nav-gnb__item .sub-list li{  
			padding: 10px 0px; 
			margin:5px; 
			border-bottom:1px solid #919191; 
			color:#818181;
		}
		.nav-gnb__list ul{
			margin:0 5px; 
		}
			
		/*<!--페이스북카페블로그-->*/
		.nav-gnb__list .nav-gnb__list_02 {margin-top:20px; }
		.nav-gnb__list .nav-gnb__list_02 .left {float:left; border:0;}
		.nav-gnb__list .nav-gnb__list_02 .left:hover{opacity:0.5;}
		.nav-gnb__list .nav-gnb__list_02 li a{border:0;}
		.nav-gnb__list .nav-gnb__list_02 li:nth-child(4){
			border-top:2px solid #818181;
			clear:both; 
			}
		
		.popup{
			background:url("../images/img_Popup2.png") no-repeat;
			position:absolute;
			height:400px; 
			width:800px; 
			top:250px; 
			left:15%;
			display:none;
		}
		
		.popup .popup__link.close_01{ 
			position:absolute; 
			width:160px; 
			height:20px; 
			bottom:14px; 
			left:10px;
		}
		.popup .popup__link.close_02{ 
			position:absolute; 
			width:60px; 
			height:20px; 
			bottom:14px; 
			right:20px;
		}
		.popup ul li:nth-child(1) a{ 
			width:160px; 
			height:20px; 
		}
		.popup ul li:nth-child(2) a{ 
			width:60px; 
			height:20px; 
		}
		
	

		@media screen  and (max-width:1500px) {
			
			.aside{ 
				top:10px;  
			
			}
		
			.nav-gnb__list {   
				background-color:#27cc57; 
				position:fixed;
				margin-left:-260px; 
				transition:all 1s;
				font-weight:bold;
				width:160px; 
				height:800px;  
				top:100px; 
				left:260px;  
				 }
			/*반응형기능*/
			
			.nav-gnb__list .nav-gnb__item {
				position:relative;
				font-size:14px 
			}
		
		
			.nav-gnb__list .sub-list{
				width:190px; 
				height:700px;
				left:155px; 
			}
			.nav-gnb__list .sub-list li:hover{
				color:#fff; 
			}
			.nav-gnb__list .sub-list li{  
				padding: 5px 0px; 
				margin:3px; 
			}
			.nav-gnb__list ul{margin:0 5px; 
			}
				
				/*<!--페이스북카페블로그-->*/
				.nav-gnb__list .nav-gnb__list_02 {margin-top:10px; }
				.nav-gnb__list .nav-gnb__list_02 .left {float:left; border:0;}
			

				.popup{
					background-size: 100% 100%;
					height:320px; 
					width:640px; 
					transition:all 1s;
				}
				
		
		}
		@media(min-width:1501px) {
			.nav-gnb__list{ 
				margin-left:0px; 
				transition:all 1s;
			}
			.popup{
				background-size: 100% 100%;
				height:400px; 
				width:800px; 
				transition:all 1s;
			}
		}